@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YekanBakh400";
  src: url("../_fonts/YekanBakh-Regular.eot");
  src: url("../_fonts/YekanBakh-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/YekanBakh-Regular.woff") format("woff"),
    url("../_fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh500";
  src: url("../_fonts/YekanBakh-Medium.eot");
  src: url("../_fonts/YekanBakh-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/YekanBakh-Medium.woff") format("woff"),
    url("../_fonts/YekanBakh-Medium.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh700";
  src: url("../_fonts/Yekan Bakh FA 06 Bold.eot");
  src: url("../_fonts/Yekan Bakh FA 06 Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/Yekan Bakh FA 06 Bold.woff") format("woff"),
    url("../_fonts/Yekan Bakh FA 06 Bold.woff2") format("woff2"),
    url("../_fonts/Yekan Bakh FA 06 Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans400";
  src: url("../_fonts/IRANSansFaNum-Regular.eot");
  src: url("../_fonts/IRANSansFaNum-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Regular.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Regular.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans500";
  src: url("../_fonts/IRANSansFaNum-Medium.eot");
  src: url("../_fonts/IRANSansFaNum-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Medium.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Medium.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans700";
  src: url("../_fonts/IRANSansFaNum-Bold.eot");
  src: url("../_fonts/IRANSansFaNum-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Bold.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Bold.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*{
    font-family: "IRANSans400";
  }
  
  h1 {
    font-size: 24px;
    font-family: "IRANSans700";
    line-height: 26px;
  }
  h2 {
    font-size: 20px;
    font-family: "IRANSans700";
    line-height: 26px;
  }
  h3 {
    font-size: 18px;
    font-family: "IRANSans500";
    line-height: 25px;
  }
  h4,
  h5 {
    font-size: 16px;
    font-family: "IRANSans400";
    line-height: 24px;
  }
  h6 {
    font-size: 14px;
    font-family: "IRANSans400";
    line-height: 22px;
  }
  a {
    font-size: 14px;
    font-family: "IRANSans500";
    line-height: 24px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar {
    width: 2px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }