@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YekanBakh400";
  src: url("../_fonts/YekanBakh-Regular.eot");
  src: url("../_fonts/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Regular.woff") format("woff"),
    url("../_fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh500";
  src: url("../_fonts/YekanBakh-Medium.eot");
  src: url("../_fonts/YekanBakh-Medium.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Medium.woff") format("woff"),
    url("../_fonts/YekanBakh-Medium.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh700";
  src: url("../_fonts/Yekan Bakh FA 06 Bold.eot");
  src: url("../_fonts/Yekan Bakh FA 06 Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/Yekan Bakh FA 06 Bold.woff") format("woff"),
    url("../_fonts/Yekan Bakh FA 06 Bold.woff2") format("woff2"),
    url("../_fonts/Yekan Bakh FA 06 Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans400";
  src: url("../_fonts/IRANSansFaNum-Regular.eot");
  src: url("../_fonts/IRANSansFaNum-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* url("../_fonts/IRANSansFaNum-Regular.woff") format("woff"), */
    url("../_fonts/IRANSansFaNum-Regular.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans500";
  src: url("../_fonts/IRANSansFaNum-Medium.eot");
  src: url("../_fonts/IRANSansFaNum-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Medium.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Medium.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans700";
  src: url("../_fonts/IRANSansFaNum-Bold.eot");
  src: url("../_fonts/IRANSansFaNum-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Bold.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Bold.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IRANSans400";
}
html {
  font-size: unset;
}
h1 {
  font-size: 24px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSans500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSans400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSans400";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSans400";
  line-height: 24px;
  color: #fc578c;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.filterBtn.activeFilter {
  background-color: white !important;
}

.loader {
  width: 25px;
  height: 50px;
  display: grid;
  color: #fc578c;
  background: linear-gradient(currentColor 0 0) top/100% 2px,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 2px),
        currentColor calc(100% - 1px),
        #0000
      )
      top,
    linear-gradient(currentColor 0 0) bottom/100% 2px,
    radial-gradient(
        farthest-side at bottom,
        #0000 calc(100% - 2px),
        currentColor calc(100% - 1px),
        #0000
      )
      bottom;
  background-size: 100% 1px, 100% 50%;
  background-repeat: no-repeat;
  animation: l18 4s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border: inherit;
  animation: inherit;
}
.loader::after {
  animation-duration: 2s;
}
@keyframes l18 {
  100% {
    transform: rotate(1turn);
  }
}

.activeImgScroll::after {
  transform: scaleY(0) !important;
}
.openinnerMegaList {
  height: auto !important;
  opacity: 1 !important;
  transition: all 1s ease;
}

.rotateArrow {
  transform: rotate(-90deg);
}

.learning .section1 .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: white;
}
.learning .section1 .swiper-pagination-bullet-active .path {
  display: inline-block !important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash linear 120s;
  animation: dash linear 120s;
  -webkit-animation-iteration-count: unset;
  animation-iteration-count: unset;
}
.learning .section1 .swiper-pagination-bullet svg {
  flex-shrink: 0;
  width: 10px;
}

.learning .section1 .swiper-pagination-bullet-active .circlesss {
  fill: #fc578c;
}
.learning .section1 .path {
  display: none;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.homePage .blogBox:nth-child(even) h4,
.homePage .blogBox:nth-child(even) p,
.homePage .blogBox:nth-child(even) a {
  color: white;
}

.homePage .blogBox:nth-child(even) {
  background-color: #434343;
  border: 1px solid white;
}

.homePage .paging span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: white;
  transition: 0.5s;
}
.activePageSpan {
  background-color: #fc578c !important;
}

.homePage .footerScrollTop {
  display: none;
}
