.formPage [data-bc-part-container] {
  width: 100%;
}
.formPage [data-bc-part] {
  margin: 0;
}
.formPage [data-bc-title-container] {
  display: none;
}
.formPage input,
.formPage textarea,
.formPage input::placeholder {
  background-color: transparent !important;
  font-family: "IRANSans400" !important;
  font-size: 14px !important;
  line-height: 21.91px !important;
  color: #434343 !important;
}
.formPage input,
.formPage textarea {
  border: none !important;
  border-bottom: 1px solid #434343 !important;
  border-radius: 0 !important;
}
.formPage [data-bc-question] {
  margin-bottom: 20px;
}
.formPage .responsMsg1 {
  margin-bottom: 10px;
  display: none;
}
.formPage .qclass8 {
  width: 80%;
  max-width: 277px;
  margin: 0 auto 40px auto;
}
.formPage .captchaContainerclass {
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
  width: 100%;
  padding: 10px 17px;
  background-color: #e8e1e3;
  column-gap: 14px;
}
.formPage .captchaContainerclass .captcha-sefaresh {
  flex-shrink: 0;
}
.formPage .captchaContainerclass input {
  background-color: white !important;
}

.formNamayandegi .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell] {
  position: relative;
}
.formNamayandegi .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  content: "*";
  color: #fc578c;
  position: absolute;
  top: 6px;
}
.formNamayandegi .afterStar:nth-child(1) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 120px;
}
.formNamayandegi .afterStar:nth-child(2) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 80px;
}
.formNamayandegi .afterStar:nth-child(3) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 96px;
}
.formNamayandegi .afterStar:nth-child(4) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 87px;
}
.formNamayandegi .afterStar:nth-child(5) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 36px;
}

.formModares .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell] {
  position: relative;
}
.formModares .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  content: "*";
  color: #fc578c;
  position: absolute;
  top: 6px;
}
.formModares .afterStar:nth-child(1) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 120px;
}
.formModares .afterStar:nth-child(2) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 80px;
}
.formModares .afterStar:nth-child(3) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 96px;
}
.formModares .afterStar:nth-child(4) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 87px;
}
.formModares .afterStar:nth-child(5) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 36px;
}

.formEstekhdam .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell] {
  position: relative;
}
.formEstekhdam .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  content: "*";
  color: #fc578c;
  position: absolute;
  top: 6px;
}
.formEstekhdam legend {
  width: 100%;
  font-size: 15px;
  line-height: 23.48px;
  font-family: "IRANSans500";
}
.formEstekhdam fieldset:nth-child(1) .afterStar:nth-child(1) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 27px;
}
.formEstekhdam fieldset:nth-child(1) .afterStar:nth-child(2) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 80px;
}
.formEstekhdam fieldset:nth-child(1) .afterStar:nth-child(3) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 110px;
}
.formEstekhdam fieldset:nth-child(2) legend {
  display: flex;
  align-items: center;
  white-space: nowrap;
  column-gap: 12px;
}
.formEstekhdam fieldset:nth-child(2) legend::before {
  content: "";
  width: 8px;
  height: 1px;
  display: block;
  background-color: #7e7e7e;
  flex-shrink: 0;
}
.formEstekhdam fieldset:nth-child(2) legend::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #7e7e7e;
}
.formEstekhdam fieldset:nth-child(2) .afterStar:nth-child(1) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 90px;
}
.formEstekhdam fieldset:nth-child(2) .afterStar:nth-child(2) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 120px;
}
.formEstekhdam fieldset:nth-child(3) legend {
  display: flex;
  align-items: center;
  white-space: nowrap;
  column-gap: 12px;
}
.formEstekhdam fieldset:nth-child(3) legend::before {
  content: "";
  width: 8px;
  height: 1px;
  display: block;
  background-color: #7e7e7e;
  flex-shrink: 0;
}
.formEstekhdam fieldset:nth-child(3) legend::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #7e7e7e;
}
.formEstekhdam fieldset:nth-child(3) .afterStar:nth-child(1) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 72px;
}
.formEstekhdam fieldset:nth-child(3) .afterStar:nth-child(2) [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  right: 80px;
}
.formEstekhdam [data-bc-answer] {
  display: flex;
  align-items: center;
}
.formEstekhdam [data-bc-answer] button {
  border-radius: 100%;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: 3px solid #434343;
}
.formEstekhdam [data-bc-answer] button path {
  fill: #434343;
}
.formEstekhdam fieldset:first-child legend {
  display: none;
}
.formEstekhdam fieldset:nth-child(4) legend,
.formEstekhdam fieldset:nth-child(6) legend,
.formEstekhdam fieldset:nth-child(5) legend {
  display: flex;
  align-items: center;
  white-space: nowrap;
  column-gap: 12px;
}
.formEstekhdam fieldset:nth-child(4) legend::before,
.formEstekhdam fieldset:nth-child(6) legend::before,
.formEstekhdam fieldset:nth-child(5) legend::before {
  content: "";
  width: 8px;
  height: 1px;
  display: block;
  background-color: #7e7e7e;
  flex-shrink: 0;
}
.formEstekhdam fieldset:nth-child(4) legend::after,
.formEstekhdam fieldset:nth-child(6) legend::after,
.formEstekhdam fieldset:nth-child(5) legend::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #7e7e7e;
}
.formEstekhdam fieldset:nth-child(4) .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after,
.formEstekhdam fieldset:nth-child(6) .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after,
.formEstekhdam fieldset:nth-child(5) .afterStar [data-bc-schema-info-part="1"] [data-bc-part-related-cell]::after {
  display: none;
}
.formEstekhdam fieldset:nth-child(4) input,
.formEstekhdam fieldset:nth-child(4) textarea,
.formEstekhdam fieldset:nth-child(6) input,
.formEstekhdam fieldset:nth-child(6) textarea,
.formEstekhdam fieldset:nth-child(5) input,
.formEstekhdam fieldset:nth-child(5) textarea {
  border-bottom: none !important;
}
.formEstekhdam fieldset:nth-child(4) [data-bc-answer],
.formEstekhdam fieldset:nth-child(6) [data-bc-answer],
.formEstekhdam fieldset:nth-child(5) [data-bc-answer] {
  border-bottom: 1px solid #434343 !important;
}/*# sourceMappingURL=mobile-form.css.map */